@font-face {
    font-family: "Space Grotesk";
    src: url("./assets/font/spaceGrotesk.ttf");
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root {
    --white: #FFFFFF;
    --bg-dark: #000000;
    --bg-primary: #B9FF66;
    --bg-secondary: #F3F3F3;
}
body {
    background-color: var(--white);
    font-family: "Space Grotesk", sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 24px;
    color: var(--bg-dark);
}

ul > li {
    list-style: none;
}

a {
    display: block;
    color: inherit;
    text-decoration: none;
}

            /* *** *** HEADER  **** *** */

.header {
    background: var(--white);
    position: relative;
    width: 100%;
    margin: 0 auto;
    padding: 20px 20px;
}

.logo {
    width: 144px;
}
.logo > img{
    width: 100%;
}

#navbar-button {
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 20px;
    width: 24px;
    height: 27.5px;
    overflow: hidden;
    cursor: pointer;
    transition: all .5s;
    background: url("./assets/icon/xmark-solid.svg") no-repeat;
}

#navbar-button.close {
    background: url("./assets/icon/bars-solid.svg");
}

#navbar {
    position: absolute;
    background: var(--white);
    width: 100vw;
    transition: transform .5s;
    transform: translateY(-300px);
    z-index: 1;
}

#navbar.show-menu {
    background: var(--white);
    display: flex;
    justify-content: center;
    transform: translateY(5px);
    height: 100vh;
    text-align: center;
    font-size: 20px;
    line-height: 28px;
    margin-left: -20px;
    padding-top: 30px;
    overflow: auto;
}

            /* *** *** ABOUT *** *** */
section {
    padding: 10px 20px;
}

h1 {
    font-size: 2.68rem;
    line-height: 40px;
    font-weight: 500;
}

.megaphone {
    display: block;
    width: 90%;
    margin-top: 10px;
}

.description {
    margin: 20px 0 40px;
}

.btn {
    display: block;
    background: var(--bg-dark);
    font-size: 1.25rem;
    color: var(--white);
    text-align: center;
    border-radius: 14px;
    padding: 20px;
}

.reference {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    margin: 60px 0 40px;
    gap: 5px;
}

.reference a {
    width: 25%;
}

.reference a > img {
    width: 100%;
}

@media screen and (min-width: 1024px) {
    body {
        font-size: 18px;
        line-height: 28px;
    }

    .header {
        padding: 20px 50px;
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

    #navbar-button {
        display: none;
    }

    #navbar {
        transition: none;
        position: relative;
        transform: none;
        margin: 0;
    }

    #navbar > ul {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
    }

    nav > ul > li {
        margin: 0 20px;
    }

    .nav-link.border {
        padding: 10px 20px;
        border: 1px solid var(--bg-dark);
        border-radius: 10px;
    }

    section {
        padding: 20px 50px;
    }

    .grid {
        display: grid;
        grid-template-columns: 450px auto;
        grid-template-areas: 
        "a d"
        "b d"
        "c c";
    }

    .main-title {
        align-self: end;
        grid-area: a;
    }

    .megaphone {
        grid-area: d;
    }

    .reference {
        grid-area: c;
    }

    .reference a {
        width: 124px;
    }
}

    /*LARGE SCREEN*/

@media screen and (min-width: 1128px) {
    body {
        font-size: 20px;
    }

    .header {
        padding: 30px 60px;
    }

    .logo {
        width: 250px;
    }




}